<!DOCTYPE html>
<html>

<head>
	<title>Login & Resgister Form</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="header.css">
</head>

<body>

	<div class="login-page">
		<div class="box">
			<div class="left">
				<h3>Create Account</h3>
				<button type="button" class="register-btn">Register</button>
			</div>
			<div class="right">
				<h3>Have an Account ?</h3>
				<button type="button" class="login-btn">Login</button>
			</div>
			<div class="form">
				<!-- Login form Start -->
				<div class="login-form">
					<h3>Log In</h3>
					<form action="/login" method="post" onsubmit="return validater()">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<div class="form-group">
							<input type="email" placeholder="Email Address*" class="form-control" name="email"
								id="email1" minlength="3" maxlength="40">
						</div>
						<span style="font-family: bolt; font-size: 12px; Color: red;" class="span"></span>
						<div class="form-group">
							<input type="password" placeholder="Password*" class="form-control" name="password1"
								id="password1" minlength="5" maxlength="15">
						</div>
						<span style="font-family: bolt; font-size: 12px; Color: red;" class="span"></span>
						<div class="form-group">
							<label>
								<input type="checkbox" checked> Remember Me
							</label>
						</div>
						<button type="submit" class="submit-btn submitLogin">Login</button>
						<p><a href="#" class="register-btn">Register</a> | <a href="#" class="lost-pass-btn">Lost Your
								Password ?</a></p>
					</form>

				</div>
				<!-- Login form End -->

				<!-- Register form Start -->
				<div class="register-form form-hidden">
					<h3>Register</h3>
					<form action="/signup" method="post" onsubmit="return validater2()">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<div class="form-group">
							<input type="text" placeholder="Name*" class="form-control" name="name" id="name"
								minlength="3" maxlength="40">
						</div>
						<span style="font-family: bolt; font-size: 12px; Color: red;" class="span"></span>
						<div class="form-group">
							<input type="email" placeholder="Email Address*" class="form-control" name="signUpEmail"
								minlength="5">
						</div>
						<span style="font-family: bolt; font-size: 12px; Color: red;" class="span"></span>
						<div class="form-group">
							<input type="password" placeholder="Password*" class="form-control" name="signUpPassword"
								minlength="5" maxlength="15">
						</div>
						<span style="font-family: bolt; font-size: 12px; Color: red;" class="span"></span>
						<div class="form-group">
							<input type="password" placeholder="Confirm Password*" class="form-control"
								name="confirmPassword" minlength="5" maxlength="15">
						</div>
						<span style="font-family: bolt; font-size: 12px; Color: red;" class="span"></span>
						<button type="submit" class="submit-btn">Register</button>
						<p><a href="#" class="login-btn">Login</a> | <a href="#" class="lost-pass-btn">Lost Your
								Password ?</a></p>
					</form>
				</div>
				<!-- Register form End -->

				<!-- Lost Password form Start -->
				<div class="lost-password-form form-hidden">
					<h3>Lost Your Password ?</h3>
					<form action="/lostPassword" method="POST" onsubmit="return validater3()">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<h5>You will receive a link to create a new password via email.</h5>

						<div class="form-group">
							<input type="email" placeholder="Email Address*" class="form-control"
								name="lostPasswordEmail">
						</div>
						<span style="font-family: bolt; font-size: 12px; Color: red;" class="span"></span>

						<button type="submit" class="submit-btn">Reset Password</button>
						<p><a href="#" class="login-btn">Login</a> | <a href="#" class="register-btn">Register</a></p>
					</form>
				</div>
				<!-- Lost Password form End -->

			</div>
		</div>
	</div>

	<script src="../js/script.js"></script>
</body>

</html>