<header class="header">
    <div class="container">
        <div class="row justify-contant-between .algin-item-center">
            <div class="brand-Name">
                <a href="index.html">Your Name</a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#">Chatting</a></li>
                    <li><a href="#">Recents</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Profole</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>
        </div>

    </div>
   </header>