<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="style3.css">
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <%- include('../templates/navigation.ejs') %><br/>
   <div class="forma">
    <form action="/changePassword" method="post" onsubmit="return validate()">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-group">
            <h4 class="h2">Enter Your New Password</h4>
            <input type="password" class="input"  name="password"  minlength="5" maxlength="15" />
            <span style="font-family: bolt; font-size: 16px; Color: red;margin-left: 600px;" class="span"> </span><br>
        </div>
        <div class="form-group">
            <h4 class="h2">Confirn Your Password</h4>
            <input type="password" class="input"  name="confirmPassword"  minlength="5" maxlength="15"/>
        </div>
        <input type="hidden" name="userId" value="<%=userId%>">
        <span style="font-family: bolt; font-size: 16px; Color: red;margin-left: 600px;" class="span"> </span><br>
        <button type="submit" class="submit-btn">Register</button>
    </form>
   </div>
   <script>
         var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,15}$/;  
       const password=document.getElementsByName("password");
       const confirmPassword=document.getElementsByName("confirmPassword");
       const validate=()=>{
      
        if(password[0].value.lenght>15 || password[0].value.lenght<5){
            document.getElementsByClassName('span')[0].innerHTML="**Password MustContain min 5 and max 15 chars**"+"<br>";
            return false;
        }
        if(!password[0].value.match(decimal)){
        document.getElementsByClassName('span')[0].innerHTML="Password Must Containt a Capital letter a small letter a number and a special Charecter"+"<br>";
        return false;
  }
  if(password[0].value!=confirmPassword[0].value){
            document.getElementsByClassName('span')[1].innerHTML="** Your Password did Not  Match**"+"<br>";
            return false;
        }
       }
   </script>
</body>
</html>