<form class="text-center border border-light p-5" action="/settings">

    <p class="h4 mb-4">Delete Account</p>

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        Your will not recover your account after this step.
    </small>
    
    <button class="btn btn-danger btn-block my-4 setting-form-submit" type="submit">Delete</button>
</form>