<form class="text-center border border-light p-5" action="/changePasswordOP?userId=<%=userId%>" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <p class="h4 mb-4">Change Password</p>


    <!-- Current Pass -->
    <input type="password" class="form-control mb-4" placeholder="Current Password" name="currentPassword">

    <input type="password" class="form-control mb-4" placeholder="New Password" name="newPassword">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" name="confirmPassword"
        placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit and Speacial character
    </small>

    <button class="btn btn-info btn-block my-4 setting-form-submit" type="submit">Change Password</button>
</form>